<div id="myModalSuccess" class="modal fade text-width:30%;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Information</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                this is a modal body. our message will appear here.
            </div>

            <div class="modal-footer">
                &nbsp;
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/modal.js"></script>
}